@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Sample Application</title>
</head>
<body>
    <div>
        <p>This is a sample application to show the implementation of an RSS and ATOM feeds using ASP.NET</p>
    </div>
</body>
</html>
